@use '/public/styles/variables' as *;
.PokeTag{
                position: absolute;
                margin-top: 49px;
                margin-left: 16px;
                margin-right: 96px;
                height: 16px;
                width: 43px;
                box-sizing: border-box;
                border-radius: 38px;
                background-color: white;
                opacity: 0.4;
                font-family: $font;
                font-size: 8px;
                color: black;
                text-align: center;
                line-height: 16px;
};