@import url("http://fonts.cdnfonts.com/css/circular-std");
body {
  width: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: black;
}

/*breakpoints media query */
$tablet: 700px;
$tablet-x: 810px;
$desktop: 1024px;
$desktop-x: 1270px;
$desktop-xm: 1400px;
$desktop-xl: 1440px;

/*variables */
$font: 'Circular Std', sans-serif;
$fontlight: 'Circular Std';
$fire: #FB6C6C;
$white: #FFFFFF; 
$water: #7AC7FF;
$electric: #FFDC7D;
$grass: #48D0B0;
$bug: #A8B820;
$normal:#A8A878;
$poison: #A040A0;
$ground: #927D44;
$fairy: #9B6470;
$fighting: #C03028;
$psychic: #F85888;
$rock: #B8A038;
$ghost: #705898;
$ice: #98D8D8;
$dragon:#7038F8;



