@import url("http://fonts.cdnfonts.com/css/circular-std");
body {
  width: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: black;
}

/*breakpoints media query */
$tablet: 700px;
$tablet-x: 810px;
$desktop: 1024px;
$desktop-x: 1270px;
$desktop-xm: 1400px;
$desktop-xl: 1440px;

/*variables */
$font: 'Circular Std', sans-serif;
$red: #FB6C6C;
$white: #FFFFFF; 
$blue: #7AC7FF;


