.App {
  display: flex;
  position: relative;
  
}
.CardCategories__homepage{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

.CardCategories__homepage__footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
}

.footer{
  display: flex;
  width: 50%;
}